.admin-container {
    display: flex; 
    flex-direction: row;
}

.admin-form {
    display: flex; 
    flex-direction: column;
    align-items: center; 
    justify-content: center;
}

.admin-form div {
    text-align: center;
}

.admin-form div input {
    margin: 10px; 
    border: none; 
    border-radius: 5px;
}

.submit-button {
   width: 100px;
   height: 5vh; 
   background-color: aliceblue;
   border: none; 
   border-radius: 10px;
   cursor: pointer;
}
