.control-panel{
    display: flex;
    flex-direction: row;
    margin: 0 auto;
}
.add-game{
    border-right: 2px solid whitesmoke;
    min-width: 40%;
}
.add-game form input{
    margin: 2%;
}
.close-game{
    margin-left: 2%;
    min-width: 60%;
}
.close-game table tbody tr:hover{
    transform: scale(1.05);
}