.game{
    border: 2px solid white;
    margin: 1%;
    text-align: center;
    /* background-color: #1A1A1A; */
}
.game:hover{
    transform: scale(1.05);
}
img{
    max-width: 8%;
    max-height: 8%;
}

.matches-title {
    border-bottom: 1px solid #000;
    margin: 10px; 
}

.matches-buttons {
    display: flex;
    justify-content: center;
}

button {
  background-color: #2C5364;
  color: #fff;
  border-radius: 5px; 
  border: none; 
  margin: 10px;
  height: 30px;
  cursor: pointer;
}

button:hover {
  background-color: #467081;
}

.input-search {
    height: 30px; 
    border-radius: 5px;
    border: 0.2px solid #000; 
    margin-top: 8px;
}