header {
    text-align: center;
    background-image: url("./header.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    display: flex; 
    flex-direction: column;
    align-items: center;
}