@import url('https://fonts.cdnfonts.com/css/seven-segment');
header {
    background-color: var(--primary-colour);
    position: fixed;
    top: 0;
    z-index: 10;
    max-height: 6vh;
    min-width: 100%;
}
header>*{
    display: inline;
}
#logo{
    max-width: 2%;
    max-height: 2%;
}
.logo-text{
    display: inline;
    font-size: 2em;
    padding-bottom: 2%;
}
.nav-items-links{
    margin-left: 50%;
}
.nav-items-links a{
    margin: 0.7%;
}
.create-account {
    background-color: var(--tertiary-2-color);
    padding: 10px;
    border-radius: 5px;
}

.countdown{
    margin-left: 5%;
    font-family: 'Seven Segment', sans-serif;
    font-size: 188%;
}
.countdown span{
    font-size: 50%;
}