h3{
    color: #8AFFCF;
    
}
.NavBar a:active{
    color: var(--tertiary-3-color);
}
.navbar-button:hover{
    background-color: var(--tertiary-3-color);
}
.navbar-button{
    margin: 2%;
    display: block;
}
.navbar-button img{
    width: 100%;
    height: 100%;
}